@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  /* Add more src lines if you have multiple font formats */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SF Pro Display Regular', sans-serif;
}
nav{
  font-size: 16px;
}
  .dropdown-container {
    position: absolute;
    
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translate(-50%, -50%); */
    text-align: center;
  }

  .dropdown-item {
    /* Add your existing styles for dropdown items here */
    /* Example: */
    margin-top: 30px;

    color: #808080;
    font-size: 16px;
    font-weight: 500;
  }
  .font{
    font-size: 1.5em;
  
  }


